Alfa 159 telegram.json
{
  "name": "Alfa 159 telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        -48
      ],
      "id": "telegram-trigger-id",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_UNIQUE_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Sei un esperto meccanico Alfa Romeo. Rispondi alle domande tecniche sulla Alfa 159 basandoti ESCLUSIVAMENTE sulle informazioni che trovi nel tuo strumento di ricerca manuale. Se non trovi l'informazione, dillo. Sii preciso e cita i valori di coppia o le procedure se presenti."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -48
      ],
      "id": "ai-agent-id",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        192
      ],
      "id": "openai-chat-model-id",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Strumento obbligatorio per cercare informazioni tecniche, procedure, schemi e dati sulla Alfa Romeo 159.",
        "topK": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        112,
        160
      ],
      "id": "vector-store-tool-id",
      "name": "manuale_alfa"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "alfa-romeo-expert",
          "mode": "list",
          "cachedResultName": "alfa-romeo-expert"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -96,
        384
      ],
      "id": "pinecone-vector-store-id",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_CREDENTIAL_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        592
      ],
      "id": "openai-embeddings-id",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        368
      ],
      "id": "openai-chat-model-1-id",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -48
      ],
      "id": "telegram-send-id",
      "name": "Send a text message",
      "webhookId": "YOUR_UNIQUE_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        160
      ],
      "id": "memory-id",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -528,
        -48
      ],
      "id": "telegram-action-id",
      "name": "Send a chat action",
      "webhookId": "YOUR_UNIQUE_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Send a chat action", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "manuale_alfa": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Pinecone Vector Store": { "ai_vectorStore": [[{ "node": "manuale_alfa", "type": "ai_vectorStore", "index": 0 }]] },
    "Embeddings OpenAI": { "ai_embedding": [[{ "node": "Pinecone Vector Store", "type": "ai_embedding", "index": 0 }]] },
    "OpenAI Chat Model1": { "ai_languageModel": [[{ "node": "manuale_alfa", "type": "ai_languageModel", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Send a text message", "type": "main", "index": 0 }]] },
    "Simple Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "Send a chat action": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "sanitized-version-id",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sanitized-instance-id"
  },
  "id": "sanitized-workflow-id",
  "tags": []
}
